header {
    width: 100%;
    background-color: #fff000;
    text-align: center;
}

#headerText {
    padding: 40px;
}

body {
    margin: 0%;
    background-color: #56596D;
}


input[type=submit] {

    background-color: #fff000;
    border-radius: 12px;
    border: solid 1px #fff000;

    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    text-size-adjust: inherit;
    transition: 200ms;
    width: 15%;
    height: 2%;
    box-sizing: border-box;
    font-size: 12px;
    touch-action: manipulation;
    transition: all .1s ease-in-out;
}

input[type=submit]:hover {
    background-color: transparent;
    border-color: #fff000;
    transition: all .1s ease-in-out;
}


form {
    padding: 5%;
    text-align: center;
    margin: 20%;
    background-color: #7b7e90;
}